__pycache__/
model/__pycache__/
*.pyc
cache/
data/
data100/
data100v2/
data100*/
saved_model/*
saved_*/
venv/
env/
nsga_net/train-EXP-*/
cifar100/cifar-*/
*.gz
*.pt
*.pth
*.jpg
*.png

!saved_model/first.pt
!saved_model/second.pt
!first.pt
!second.pt