__pycache__/
model/__pycache__/
*.pyc
cache/
data/
data100/
data100v2/
data100*/
saved_model/*
saved_nsgav1*/
venv/
env/
nsga_net/train-EXP-*/
cifar100/cifar-*/
*.gz
*.pt
*.pth
*.jpg
*.png
*.config
log.txt
!saved_model/0*.pt
!saved_model/first.pt
!saved_model/second.pt
##self branch
# from 2d_fap
!saved_model/mobilenetv2.pt 